<a href="https://colab.research.google.com/github/Rezamoghadam8810/Algorithmic_trading_tutorial/blob/main/Investment_multiple_and_CAGR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.4f}'.format
# plt.style.use('ig')

In [3]:
msft=pd.read_csv("/content/msft.csv",index_col="Date",parse_dates=["Date"])
msft

              Price  Returns
Date
2014-10-01  39.0886      NaN
2014-10-02  38.9694  -0.0031
2014-10-03  39.2504   0.0072
2014-10-06  39.2504   0.0000
2014-10-07  38.7735  -0.0122
...             ...      ...
2021-05-24 243.0405   0.0229
2021-05-25 243.9515   0.0037
2021-05-26 243.7286  -0.0009
2021-05-27 241.6159  -0.0087
2021-05-28 241.9745   0.0015

[1677 rows x 2 columns]

# Investment multiole:E

In [4]:
multiple=(msft.Price[-1] / msft.Price[0]) #last price divide to first price
multiple

<ipython-input-4-ff9b9326e677>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  multiple=(msft.Price[-1] / msft.Price[0]) #last price divide to first price

6.190410488461759

In [5]:
(multiple - 1 ) *100

519.041048846176

In [6]:
msft.Price / msft.Price[0] # similar /identical concept: Normalized Price with Base Value 1

<ipython-input-6-500c87ff721b>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  msft.Price / msft.Price[0]

Date
2014-10-01   1.0000
2014-10-02   0.9969
2014-10-03   1.0041
2014-10-06   1.0041
2014-10-07   0.9919
              ...
2021-05-24   6.2177
2021-05-25   6.2410
2021-05-26   6.2353
2021-05-27   6.1812
2021-05-28   6.1904
Name: Price, Length: 1677, dtype: float64

In [7]:
start = msft.index[0]
start

Timestamp('2014-10-01 00:00:00')

In [8]:
end=msft.index[-1]
end

Timestamp('2021-05-28 00:00:00')

In [9]:
td=end-start
td

Timedelta('2431 days 00:00:00')

In [10]:
td_years = td.days / 365.25
td_years

6.655715263518139

In [11]:
cagr=multiple**(1/td_years)-1 # short version
cagr

0.31508348266813613

In [14]:
cagr = (msft.Price[-1] / msft.Price[0])**(1/((msft.index[-1]- msft.index[0]).days / 365.25 )) -1  # long version
cagr

<ipython-input-14-8f74fc7179e9>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cagr = (msft.Price[-1] / msft.Price[0])**(1/((msft.index[-1]- msft.index[0]).days / 365.25 )) -1  # long version

0.31508348266813613

In [15]:
(1+cagr) ** (td_years) # alternative #2 to calculate multiple (cagr)

6.190410488461757