<a href="https://colab.research.google.com/github/mohammadreza1408/Algorithmic_trading_tutorial/blob/main/work_on_datetime_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
temp = pd.read_csv('/content/temp.csv',parse_dates=['datetime'], index_col="datetime")

In [ ]:
temp.head()

In [ ]:
temp.info()

In [ ]:
temp.iloc[0,0]

In [ ]:
temp.index

In [ ]:
temp.index[0]

# **new Version**

In [4]:
temp1 = pd.read_csv('/content/temp.csv')

In [62]:
temp1.datetime

0        2013-01-01 00:00:00
1        2013-01-01 01:00:00
2        2013-01-01 02:00:00
3        2013-01-01 03:00:00
4        2013-01-01 04:00:00
                ...
35059    2016-12-31 19:00:00
35060    2016-12-31 20:00:00
35061    2016-12-31 21:00:00
35062    2016-12-31 22:00:00
35063    2016-12-31 23:00:00
Name: datetime, Length: 35064, dtype: object

In [5]:
print(temp1.iloc[0,0])
type(temp1.iloc[0,0])

2013-01-01 00:00:00

str

In [64]:
temp_change=pd.to_datetime(temp1.datetime)

In [65]:
print(temp_change.iloc[0])
type(temp_change.iloc[0])

2013-01-01 00:00:00

pandas._libs.tslibs.timestamps.Timestamp

In [15]:
temp_copy=temp1.set_index(pd.to_datetime(temp1.datetime)).drop("datetime", axis = 1)

In [17]:
temp_copy.head()

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3

In [18]:
temp_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35064 entries, 2013-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LA      35062 non-null  float64
 1   NY      35064 non-null  float64
dtypes: float64(2)
memory usage: 821.8 KB

In [22]:
temp_copy.index[0]

Timestamp('2013-01-01 00:00:00')

In [24]:
pd.to_datetime("2015-05-20-10")

Timestamp('2015-05-20 10:00:00')

In [27]:
pd.to_datetime("20150520 10")

Timestamp('2015-05-20 10:00:00')

In [30]:
pd.to_datetime("2015/05/20 1215")

Timestamp('2015-05-20 12:15:00')

In [31]:
pd.to_datetime("2015 May 20")

Timestamp('2015-05-20 00:00:00')

In [32]:
pd.to_datetime("may 2015 20")

Timestamp('2015-05-20 00:00:00')

In [35]:
pd.to_datetime(["2015-05-20", "Feb 20 2015"], format ="mixed")

DatetimeIndex(['2015-05-20', '2015-02-20'], dtype='datetime64[ns]', freq=None)

In [36]:
pd.to_datetime(["2015-05-20", "Feb 20 2015","Elephant"],errors="coerce", format ="mixed")

DatetimeIndex(['2015-05-20', '2015-02-20', 'NaT'], dtype='datetime64[ns]', freq=None)